
@{
    ViewBag.Title = "Thông báo";
}


<h5 style="color:red">Bạn không có quyền sử dụng chức năng này. Bạn cần đăng nhập tài khoản khác có quyền cao hơn hoặc liên hệ ADMIN <a  href="~/DangNhap/DangNhap"><span>Đăng Nhập</span> </a></h5>
